# Compiled source and other garbage #
#####################################
__pycache__/
*.py[cod]
*.swp
# nose coverage
.coverage

*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/build/